.jumbotronone {
  padding: 2rem 0 7rem 0;
  background-color: #f1f3ff;
}

.jumbotronfour {
  padding: 2rem;
}

.row {
  border: 1px solid:red;
}

.box {
  padding: 30px;
  border-radius: 10px;
  margin: 10px 0px;
}

.carousel-contain {
  background-color: #F1F3FF;
}

.container.sewaone {
  background-color: #0d28a6;
  border-radius: 13px;
}

@media (min-width: 320px) {
  .display-4.textsewa {
    margin-top: -50px !important;
    position: static;
    width: 328px;
    height: 216px;
    left: 0px;
    top: 0px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
  }

  .lead.welcome {
    position: static;
    left: 0px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 15px 0px;
  }

  .btn.btn-success.tombol {
    position: static;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .img-fluid.mobil {
    margin: 50px 0 0 -155px !important;
  }

  .img-fluid.service {
    margin-top: 70px;
    position: absolute;
    width: 250px;
    height: 250px;
  }

  .best-car {
    width: 328px;
    height: 72px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 265px 0px 0px -30px;
  }

  .sewa-mobil {
    width: 328px;
    height: 100px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 10px -30px;
  }

  .list-group.carrental {
    width: 328px;
    height: 100px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 30px -30px;
  }

  .text-center.judul {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
  }

  .text-center.isi {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 10px 10px 10px;
  }

  .btn.btn-success.sewamobil {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 0 -60px 20px -60px;
    padding: 10px 10px 10px 10px;
  }

  .kenapakita {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
  }

  .mengapa {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .display-4.textsewa {
    width: 568px;
    height: 108px;
    left: 136px;
    top: 177px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
  }

  .lead.welcome {
    width: 468px;
    height: 60px;
    left: 136px;
    top: 301px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    padding: 55px 65px 0 0;
  }

  .btn.btn-success.tombol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    position: absolute;
    top: 345px;
  }

  .img-fluid.mobil {
    width: 515px;
    height: 310px;
    margin-top: -200px !important;
    z-index: -1;
  }

  .img-fluid.service {
    width: 400px;
    height: 400px;
    left: 99px;
    margin-top: 0;
  }

  .best-car {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 24px 0px;
  }

  .sewa-mobil {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: -30px 0 10px 0;
  }

  .list-group.carrental {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 20px 0;
  }

  .text-center.judul {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    color: #FFFFFF;
  }

  .text-center.isi {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .btn.btn-success.sewamobil{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 10px 0;
  }
}

/* Filter */
#filter{
    margin-top: -3rem;
    padding-top: 2rem;
    background-color:;
    height: 9rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 1;
}

#filter #form{
    color: #808080;
}

#filter #btn-sopir{
    color: #808080;
    border: 1px solid;
    border-color: #cfcfcf;
}

#filter #waktu-jemput{
    color: #808080;
    border: 1px solid;
    border-color: #cfcfcf;
}

#filter .dropdown{
    width: 100%;
}

#filter #form label{
    margin-bottom:5px ;
}

#filter #form #submit{
    margin-top: 30px;
    width: 100px;
}

/* Ini Page Banner */
#banner{
    padding-top: 46px;
    background-color:var(--second-color);
    z-index: -1;
    position: relative;
}

#banner img{
    width: 100%;
    z-index: -1;
}

#banner .banner-content-left{
    margin-top: 100px;
}

#banner .banner-content-left button{
    background-color: var(--btn-color);
    border: none;
}

#banner .banner-content-left button a{
    text-decoration: none;
    color: #F1F3FF;
}


